.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  padding: 2.2em;
  width: 40rem;
  border-radius: 1.2rem;
  margin: 15% auto;
  overflow: hidden;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  color: #fff;
  font-style: italic;
  letter-spacing: 0.8rem;
}
